doctype html
html
   head
      title Mihir Dance Academy
      block style
      
   body
       nav#navbar  
         ul
            div#logo
               img(src="https://seeklogo.com/images/M/modern-dance-logo-4BCF0EBD09-seeklogo.com.png")
               |MDA
            li #[a(href="/") Home]   
            li #[a(href="/") About]   
            li #[a(href="/") Services]  
            li #[a(href="/") Class Info]  
            li #[a(href="/contact") Contact Us]   
       block content
       div#footer 
         p copyright &copy; 2020 MihirDanceAcademy.com | All rights reserved   