extends base.pug

block style
     style
         include ../static/style.css

block content
     
      div#introsection 
          div Welcome To Mihir's Dance Academy
          div.small Eat Sleep Dance Repeat
      div#mission  
          h2 Our Mission
          div.card 
             h3 Dance Perfection
                div.card-box
                   div.card-img
                       img(src='https://th.bing.com/th/id/OIP.GaxAH4FtisIgjd5kH37YAwHaI4?w=182&h=218&c=7&o=5&pid=1.7')
                   div.card-content
                      p  This is the best dance academy in universe
          div.card 
             h3 Dance The Way You Like
                 div.card-box
                   div.card-img
                       img(src='https://th.bing.com/th/id/OIP.NczxMVKjBxGWcw4Hz9qLHQAAAA?w=116&h=180&c=7&o=5&pid=1.7')
                   div.card-content
                      p  This is the best dance academy in universe
          div.card
             h3 Expert Teaching   
                 div.card-box
                   div.card-img
                       img(src='https://th.bing.com/th/id/OIP.R8SoTKOPsclygUcLziiYKgHaHa?w=182&h=180&c=7&o=5&pid=1.7')  
                   div.card-content
                      p   This is the best dance academy in universe
      div#sponsor       
          h2 Our Sponsors
          div#spon
             img(class="spo", src="https://seeklogo.com/images/A/Apple-logo-DBCA9273F8-seeklogo.com.png")
             img(class="spo", src="https://seeklogo.com/images/M/microsoft-logo-B5C9E49146-seeklogo.com.png")
             img(class="spo", src="https://seeklogo.com/images/G/google-logo-33C85C2215-seeklogo.com.png")
             img(class="spo", src="https://seeklogo.com/images/Y/YouTube-logo-CE5C63B107-seeklogo.com.png")
             img(class="spo", src="https://seeklogo.com/images/J/jio-logo-3D80D8382D-seeklogo.com.png")         